<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648198231065-ku0e7dh84k2n6t9m5jb2qmnf4fa06is0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648198231065-ku0e7dh84k2n6t9m5jb2qmnf4fa06is0</string>
	<key>API_KEY</key>
	<string>AIzaSyDIzpYiPpYL-3yqeJKT0KwXTCKkW1lOxMI</string>
	<key>GCM_SENDER_ID</key>
	<string>648198231065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nick.Sour-Chat</string>
	<key>PROJECT_ID</key>
	<string>sour-chat-f9d92</string>
	<key>STORAGE_BUCKET</key>
	<string>sour-chat-f9d92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648198231065:ios:4035358bd9fd22ad1dc688</string>
</dict>
</plist>